<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<%- include('./partials/header') %>
	<% for (let i = 0; i < productos.length; i++) { 
		let producto = productos[i]; 
		let descripcion = producto.descripcion;
		let nombre = producto.nombre;
		let id = producto.id;
		let imagen = producto.imagenProducto;
	  
		if (id == idBuscado) { %>
		  <div class="container products-wrapper">
			<div class="d-flex align-items-center">
			  <h2 class="products-title"><%= nombre %></h2> 
			  <p class="product-detail-description">
				<a href="/product/product-add">Editar</a>
			  </p>
			</div>
			<div class="product-detail">
			  <div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
				  <img src="/images/products/<%= imagen %>" alt="<%= nombre %>" class="product-detail-img">
				  <p class="product-detail-description"><%= descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
		<section class="comments">
		  <% for (let j = 0; j < producto.comentarios.length; j++) {
			let comentario = producto.comentarios[j]; 
			let idComment = comentario.idProducto;
			if (idComment == idBuscado) {
			  let nombreUsuario = comentario.usuario.username;
			  let imagenPerfil = comentario.usuario.foto;
			  let texto = comentario.comentario;
		  %>
			<article>
			  <img src="/images/users/<%= imagenPerfil %>" alt="<%= nombreUsuario %>">
			  <div class="data">
				<p class="user">
				  <strong><a href="/users/public/<%= nombreUsuario %>"><%= nombreUsuario %></a></strong>
				  <%= texto %>
				</p>
			  </div>
			</article>
		  <% } } %>
		</section>
		<form class="form" action="/" method="GET">
		  <input class="form-input" type="text" value="" placeholder="Agregar comentario">
		  <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
		</form>
		<hr>
	  </div>
			  </div> 
			</div>
		  </div>
	  <% } } %>
	  
	
	  
		
	  