<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
		<% if (usuarioLogueado) { %>
		<%- include('./partials/headerLogueado', {usuarioLogueado}) %>
	 <% } else { %>
	  <%- include('./partials/header') %>
	<% } %>

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/<%= foto %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= usuario.username %>
						<a href="/">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<p class="email-usuario"><%= email %></p>
				<div>
					<ul class="">
						<li><%=totalProductos%> productos</li>
						<li>200 seguidores</li>
						<li><%= totalComentarios %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<section class="container products-wrapper">
		<div class="row">
			<% for (let i = 0; i < totalProductos.length; i++) { 
				let producto = productos[i];
				let descripcion = producto.descripcion;
				let descripcionAcortada = "";
				for (let j = 0; j < 50 && j < descripcion.length; j++) {
				  descripcionAcortada += descripcion[j];
				}
				descripcionAcortada += "...";
			  %>
				<div class="col-12 col-sm-6 col-lg-3">
				  <section class="product-box">
					<a href="/product/<%= producto.id %>">
					  <figure class="product-box_image">
						<img src="<%= producto.imagenProducto %>" alt="<%= producto.nombre %>">
					  </figure>
					  <article class="product-box_data">
						<h2><%= producto.nombre %></h2>
						<p><%= descripcionAcortada %></p>
		  
						<% let coments = 0; %>
						<% for (let j = 0; j < comentarios.length; j++) { %>
						  <% if (comentarios[j].idProducto == producto.id) { %>
							<% coments += 1; %>
						  <% } %>
						<% } %>
						<p>Comentarios: <%= coments %></p>
					  </article>
					</a>
				  </section>
				</div>
			  <% } %>
		</div>
	  </section>
	</div>
		</div>
	</div>


	<%- include('./partials/footer') %>

</body>	
</html>