<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

	<body>
		<%- include('./partials/header') %>

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Resultados de búsqueda</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<% if (respuesta) { %>
						<div class="col-12">
							<p><%= respuesta %></p>
						</div>
					<% } else { %>
						<<% for (var i = 0; i < resultados.length && i < 3; i++) { 
							var producto = resultados[i]; 
							var descripcion = producto.descripcion;
							var descripcionAcortada = ""; 
							for (var j = 0; j < 50 && j < descripcion.length; j++) { 
								descripcionAcortada += descripcion[j]; 
							} 
							descripcionAcortada += "..."; 
						%>
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
									<a href="/product/<%= producto.id %>">
										<figure class="product-box_image">
											<img src="/images/products/<%= producto.imagenProducto %>" alt="<%= producto.nombre %>">
										</figure>
										<article class="product-box_data">
											<h2><%= producto.nombre %></h2>
											<p><%= descripcionAcortada %></p>
											<p>Subido por: <%= producto.usuario %></p>
											<p>Comentarios: <%= producto.comentarios.length %></p>
										</article>
									</a>
								</section>
							</div>
						<% } %>
					<% } %>
				</div>

				<%- include('./partials/footer') %>
	</body>
</html>